<!doctype html>
<link rel="stylesheet" href="{{ '{}/style.css'.format(static_path) }}">
<head><title>Log In</title><head>

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action="{{submit_uri}}">
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
      <input type="hidden" name="state" value="{{state}}">
      <button>login</button>
    </form>
  </div>
</div>
{% endblock %}